/.env
/venv/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/twitter-image-recognition.iml
/.idea/vcs.xml
/images/comparisons/*
/images/twitter/*
